<div class="inputBox">
            <input id="searchField"  type="text" placeholder="TaskName To search">
               <div class="dropdown">
                    <input type="text" placeholder="List To search" class="dropdown-input">
                    <ul class="dropdown-menu">
                        <li data-value="Pending">Pending</li>
                        <li data-value="completed">Completed</li>
                    </ul>
                </div>
            <button id="search">Search</button>  
</div>