<div class="inputBox">
            <input id="searchField" [(ngModel)]="task"  type="text" placeholder="TaskName To search">
               <div class="dropdown" [ngClass]="{'open': isOpen}"  (click)="toggleDropdown()" >
                    <input [(ngModel)]="selectedmenu" type="text" placeholder="List To search" class="dropdown-input" >
                    <ul class="dropdown-menu" [ngClass]="{'open': isOpen}">
                        @for (menu of dropDownMenu(); track menu) {
                            <li data-value="{{menu}}" (click)="selectMenu(menu)">{{menu}}</li>
                        }
                    </ul>
                </div>
            <button id="search" (click)="searchTask(selectedmenu)">Search</button>  
</div>